<div class="hstyle">Edit Issue</div>
<div class="col-lg-4 col-lg-offset-4">  
<div class=" panel panel-primary">
<div class="panel-body">
<%= render 'form'%>

<%=link_to 'back',project_issues_path%>
</div>
</div>
</div>