
<div class="hstyle">New Issue</div>
<div class="col-lg-5 col-lg-offset-3">  
<div class=" panel panel-primary">
<div class="panel-body">
<%= render 'form'%>

<%= link_to 'back',project_issues_path%>
</div>
</div>
</div>