
<div class="hstyle">my Calendar</div>



<%= month_calendar(attribute: :startdate, events: @events) do |date,meetings| %>
  <%raise @events.inspect %>
  <%= date.day %>
  <% meetings.each do |meeting| %>
    <div>
      <%= meeting.name %>
    </div>
  <% end %>
<% end %>
