


<div class="col-lg-6 col-lg-offset-3">
<div class="h2 text-center">
  <div class="myheader">
  Powerful and easy way to manage your projects and team
  </div>
  <br>
  <!-- <div class='content'>
  <div class='visible'>
    <p>
      ProMAX&nbsp
    </p>
    <ul>
      <li> !</li>
      <li> Powerful and easy way</li>
      <li> manage your projects and team</li>
    </ul>
  </div>
</div> -->
  <div class="mylogo">
  <%=image_tag "promax-logo.png"%>
  </div>
</div>

</div>
