
<!-- <div class = "row">

<div class="col-lg-4 col-lg-offset-4">
   <div class="welcometxt">
   <span class="welcome-sm">WELCOME TO</span><br>
   <span class="welcome-lg">PROJECT MANAGEMENT</span>
   </div>
</div>
</div> -->
<!-- <div id="slideshow">
   <div>
     <img src="//farm6.static.flickr.com/5224/5658667829_2bb7d42a9c_m.jpg">
   </div>
   <div>
     <img src="//farm6.static.flickr.com/5230/5638093881_a791e4f819_m.jpg">
   </div>
   <div>
     Pretty cool eh? This slide is proof the content can be anything.
   </div>
</div>
 -->


<div class="col-lg-6 col-lg-offset-3">
<div class="h1 text-center myheader">
  Powerful and easy way to manage your projects and team
  <%=image_tag "promax-logo.png"%>
</div>

</div>
