// Place all the styles related to the errors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.error_message{
	color : red;
}


label[class="error"]{
	color : red;
	transition : 1s all ease;
}

input[class*="error"],select[class*="error"]{
	border-color :red;
	transition : 1s all ease;
}
