// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





.dataTables_wrapper.dt-semanticUI.no-footer {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}



.box{
	background-color:#ddccdd;
	color : white;
	border-right : 1px solid grey;
	box-shadow : 1px 1px 1px #dddddd;
	padding : 20px;
    display : inline;
	font-weight : bold;
}


#proj_det_tb{
	font-size : 15px;
	font-weight : bold;
	color :  #000;	
}
#proj_det_tb tr td1{
	box-shadow : 1px 1px 1px #ccc;	
}





#project_startdate_1i,#project_startdate_2i,#project_startdate_3i{
	display : inline-block;
}

#project_startdate_1i{
	width : 37%;
}
#project_startdate_2i{
	width : 30%;
}
#project_startdate_3i{
	width:30%;
}



#project_enddate_1i,#project_enddate_2i,#project_enddate_3i{
	display : inline-block;
}

#project_enddate_1i{
	width : 37%;
}
#project_enddate_2i{
	width : 30%;
}
#project_enddate_3i{
	width:30%;
}



#project_duedate_1i,#project_duedate_2i,#project_duedate_3i{
	display : inline-block;
}

#project_duedate_1i{
	width : 37%;
}
#project_duedate_2i{
	width : 30%;
}
#project_duedate_3i{
	width:30%;
}











