// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





.dataTables_wrapper.dt-semanticUI.no-footer {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}



.box{
	background-color:#ddccdd;
	color : white;
	border-right : 1px solid grey;
	box-shadow : 1px 1px 1px #dddddd;
	padding : 20px;
    display : inline;
	font-weight : bold;
}


#proj_det_tb{
	font-size : 15px;
	font-weight : bold;
	color :  #000;	
}
#proj_det_tb tr td1{
	box-shadow : 1px 1px 1px #ccc;	
}

















