// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#task_startdate_1i,#task_startdate_2i,#task_startdate_3i{
	display : inline-block;
}

#task_startdate_1i{
	width : 37%;
}
#task_startdate_2i{
	width : 30%;
}
#task_startdate_3i{
	width:30%;
}



#task_enddate_1i,#task_enddate_2i,#task_enddate_3i{
	display : inline-block;
}

#task_enddate_1i{
	width : 37%;
}
#task_enddate_2i{
	width : 30%;
}
#task_enddate_3i{
	width:30%;
}







#tasks{
	/*box-shadow : 0px 0px 2px #ccc;*/

}

#tasks tr td{
	padding: 10px;
	opacity : 0.8;
	
}

#tasks tr td:last-child{
	color : white;
	background-color : #ff5050;
}
#tasks tr td:last-child a{
	color : white;
	font-weight : bold;
}



#tasks tr td:first-child:hover{
	transition : 0.2s all ease-out;
	cursor: pointer;
	opacity : 1;
}


.ttitle{
	font-weight:bold;
}